In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('loto2017.csv',sep=";")

In [4]:
df.head()

,annee_numero_de_tirage,jour_de_tirage,date_de_tirage,date_de_forclusion,boule_1,boule_2,boule_3,boule_4,boule_5,numero_chance,...,nombre_de_gagnant_au_rang8,rapport_du_rang8,nombre_de_gagnant_au_rang9,rapport_du_rang9,nombre_de_codes_gagnants,rapport_codes_gagnants,codes_gagnants,numero_jokerplus,devise,Unnamed: 34
0,2018145,LUNDI,03/12/2018,02/02/2019,1,15,9,19,39,5,...,211907,5,323568,"2,2",10,20000,"G 8032 6572,M 6913 4554,J 5329 9087,J 3451 787...",2 129 013,eur,NaN
1,2018144,SAMEDI,01/12/2018,31/01/2019,15,6,3,23,39,2,...,354973,5,390787,"2,2",10,20000,"M 3233 6254,W 0526 3495,H 1437 8443,S 9575 897...",4 479 702,eur,NaN
2,2018143,MERCREDI,28/11/2018,28/01/2019,3,38,30,10,15,6,...,244739,5,310595,"2,2",10,20000,"Q 7344 7907,I 7656 9172,S 5536 6492,V 8124 485...",6 578 232,eur,NaN
3,2018142,LUNDI,26/11/2018,26/01/2019,36,30,34,14,21,2,...,155362,5,219254,"2,2",10,20000,"I 8638 6569,R 8760 0539,M 6211 0635,G 9653 312...",7 437 466,eur,NaN
4,2018141,SAMEDI,24/11/2018,24/01/2019,15,11,5,22,10,5,...,465574,5,572435,"2,2",10,20000,"E 3230 0242,V 4759 8008,J 5674 6998,O 1025 894...",1 151 179,eur,NaN

In [5]:
df.columns

Index(['annee_numero_de_tirage', 'jour_de_tirage', 'date_de_tirage',
       'date_de_forclusion', 'boule_1', 'boule_2', 'boule_3', 'boule_4',
       'boule_5', 'numero_chance', 'combinaison_gagnante_en_ordre_croissant',
       'nombre_de_gagnant_au_rang1', 'rapport_du_rang1',
       'nombre_de_gagnant_au_rang2', 'rapport_du_rang2',
       'nombre_de_gagnant_au_rang3', 'rapport_du_rang3',
       'nombre_de_gagnant_au_rang4', 'rapport_du_rang4',
       'nombre_de_gagnant_au_rang5', 'rapport_du_rang5',
       'nombre_de_gagnant_au_rang6', 'rapport_du_rang6',
       'nombre_de_gagnant_au_rang7', 'rapport_du_rang7',
       'nombre_de_gagnant_au_rang8', 'rapport_du_rang8',
       'nombre_de_gagnant_au_rang9', 'rapport_du_rang9',
       'nombre_de_codes_gagnants', 'rapport_codes_gagnants', 'codes_gagnants',
       'numero_jokerplus', 'devise', 'Unnamed: 34'],
      dtype='object')

In [6]:
df.shape

(274, 35)

In [7]:
class to_new_df:
    def __init__(self,data,day=None):
        """ create specific DataFrame return frequence with option by day"""
        if day is not None:
            data = data[data.jour_de_tirage.str.contains(day.upper())]
        self.size = data.shape[0] 
        
        new_df = pd.DataFrame(data.boule_1.value_counts()).sort_index()
        for x in range(2,6):
            item = "boule_" + str(x)
            b = data.eval(item).value_counts().sort_index()
            new_df[item] = b
        new_df = new_df.fillna(0)
        new_df["total"] = (new_df.boule_1+new_df.boule_2+new_df.boule_3+new_df.boule_4+new_df.boule_5)
        new_df["ratio"] = new_df.total/self.size
        
        self.base = data
        self.data = new_df
    
    def __repr__(self):
        print(self.data)
        
    def head(self):
        """Return head"""
        print(self.data.head())
        
    def get_data(self):
        """Get data"""
        return self.data

    def get_tirage(self):
        """Get tirage by date in cumsum"""
        tirages = pd.DataFrame([list(map(int,y.split("-"))) for y in [x.split("+")[0] for x in list(self.base.combinaison_gagnante_en_ordre_croissant)]],columns=["boule_"+str(x) for x in range(1,6)])
        tirages["date_de_tirage"] = df[["date_de_tirage"]]
        for x in range(1,50):
            tirages[str(x)]= np.max(np.where(tirages.isin([x]),1,0),axis=1)
            tirages[str(x)]= tirages[str(x)].cumsum()
            tirages[str(x)]= tirages[str(x)]/(tirages.index+1)
        return tirages
    
    def bestVal(self,limit=None):
        """Print best proba"""
        if limit is None:
            limit = 10
        data = self.data.sort_values(by="ratio", ascending=False)[:limit]
        print("Meilleurs numéros : {} \nAllant de {:,.2%} à {:,.2%}".format(list(data.index), data.ratio.max(), data.ratio.min()))
        
        num_chance = self.base.numero_chance.value_counts().sort_values(ascending=False)/self.size
        index_chance = list(num_chance.index)[:3]
        proba_chance = list(num_chance)[:3]
        print("\nMeilleurs numéros chance : {} \nAllant de {:,.2%} à {:,.2%}".format(index_chance,proba_chance[0],proba_chance[-1]))
    
    def worstVal(self,limit=None):
        """Print worst proba"""
        if limit is None:
            limit = 10
        data = self.data.sort_values(by="ratio", ascending=True)[:limit]
        print("Pires numéros : {} \nAllant de {:,.2%} à {:,.2%}".format(list(data.index), data.ratio.min(), data.ratio.max()))
        
        num_chance = self.base.numero_chance.value_counts().sort_values(ascending=True)/self.size
        index_chance = list(num_chance.index)[:3]
        proba_chance = list(num_chance)[:3]
        print("\nPires numéros chance : {} \nAllant de {:,.2%} à {:,.2%}".format(index_chance,proba_chance[0],proba_chance[-1]))
    
    def plot(self,descending=False):
        """Return graph from proba"""
        plt.figure(figsize=(20,10))
        if descending:
            data = self.data.sort_values(by="ratio", ascending=False).reset_index()
        else:
            data = self.data
        plt.bar(x=data.index, height=data.ratio)
        plt.show()

    def plot_tirage(self):
        """Return graph form tirages"""
        y = [str(x) for x in range(1,50)]
        b = self.get_tirage()
        b.plot(y=y, x='date_de_tirage', legend=False, figsize=(20,10))
        plt.show()

In [8]:
a = to_new_df(df,"sam")

In [9]:
a.worstVal()

Pires numéros : [4, 19, 32, 24, 14, 11, 33, 27, 28, 3]
Allant de 4.40% à 7.69%

Pires numéros chance : [6, 4, 1]
Allant de 3.30% à 5.49%

In [10]:
a.bestVal()

Meilleurs numéros : [31, 9, 44, 48, 18, 36, 40, 13, 23, 41]
Allant de 17.58% à 13.19%

Meilleurs numéros chance : [10, 9, 5]
Allant de 16.48% à 13.19%